<div data-controller="message">
  <%= render "layouts/errors", entity: message %>
  <%= form_with model: message do |form| %>
    <%= form.text_field :text, placeholder: "Write a message...", data: { target: "message.text" } %>
    <%= form.submit "Submit", data: { target: "message.submit" } %>
  <% end %>
</div>