<%= turbo_frame_tag "main" do %>
  <h3><%= @receiver.username %></h3>
  <%= turbo_frame_tag "message_form" do %>
    <%= render "messages/form", message: @new_message, receiver_id: @receiver.id %>
  <% end %>
<% end %>
