<%= form_with url: [:users], method: :get, data: { turbo_frame: "results" }, id: "search_form" do |form| %>
  <%= form.search_field :username, placeholder: "Search...", id: "search_input", autofocus: true, onkeyup: "this.form.requestSubmit()", autocomplete: "off" %>
<% end %>
<div>
  <form action="/submit" >
    <label for="fruits">Choose a fruit:</label>
    <select id="fruits" name="fruit" style="display: block;">
        <option value="">Choose a Fruit</option> <!-- Default prompt -->
        <option value="apple">Apple</option>
        <option value="banana">Banana</option>
        <option value="orange">Orange</option>
        <option value="grape">Grape</option>
        <option value="watermelon">Watermelon</option>
    </select>
  </form>
</div>