<%= turbo_frame_tag "main" do %>
  <main class="content">
    <% @users ||= [] %>
    <% if @users.any? %>
      <%= render @users %>
    <% else %>
      <p>No results</p>
    <% end %>
  </main>
<% end %>