.chat_partial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100%;
  padding: var(--space-xxs);
  p {
    margin: 0;
  }

  .label {
    font-weight: bold;
    font-size: larger;
  }
  .last_text{
    color: grey;
    display: -webkit-box;           /* For WebKit browsers */
    -webkit-box-orient: vertical;   /* Set the orientation to vertical */
    -webkit-line-clamp: 1;          /* Limit to one line */
    overflow: hidden;                /* Hide the overflow content */
    text-overflow: ellipsis;        /* Add ellipsis */
    height: 1.5em; 
  }
  &:hover {
    background: rgb(243, 243, 243);
  }
}