.chat {
  display: flex;
  flex-direction: column; 
  margin-block-end: calc(var(--space-xxxxl) + var(--space-xxxxl) + var(--space-xs));
}
.input_container {
  padding-inline: var(--space-m);
  display: flex;
  justify-content: center;
  background: var(--color-background);
  min-height: var(--space-xxxxl);
  width: 100%;
  position: fixed;
  bottom: var(--space-xxxxl);
  right: 0;
  
  input[type="submit"] {
    border: none;
    min-width: 2.5rem;
    min-height: 2.5rem;
    color: white;
    font-weight: bold;
    border-radius: var(--space-xs);
    background: var(--color-primary);
    margin-block-end: var(--space-xs);
    &:hover {
      background: var(--color-primary-rotate);
    }
  }
}