.messages_container {
  display: flex;
  flex-direction: column;
  z-index: -1;
  justify-content: flex-end;
  > * {
    min-width: 100%;
  }
  img {
    max-width: 80%;
    max-height: 10rem;
    border-radius: var(--space-m);
  }

  .left_position, .right_position {
    display: flex;
    gap: 0.5rem;
  }
  .right_position {
    justify-content: end;
  }
  .left_position p, .right_position p{
    border-radius: var(--space-m);
    max-width: 80%;
    word-wrap: break-word;
    padding: var(--space-xxs);
    padding-inline: var(--space-xs);
    margin: var(--space-xxxxs);
  }
  .left_position p{
    color: black;
    background: var(--color-background);
  }
  .right_position p{
    color: white;
    background: var(--color-primary);
  }
  .animate {
    animation: appearText 0.8s ease-in forwards;
    animation-iteration-count: 1;
  }
  @keyframes appearText {
    0% {
      transform: scale(0);
    }
    25% {
      transform: scale(1.10);
    }
    50% {
      transform: scale(0.95);
    }
    75% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1.00);
    }
  }
}
