.navbar {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  min-height: var(--space-xxxxl);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar > * {
  flex: 1;
  align-content: center;
}
.navbar > a, .navbar button {
  background: var(--color-primary);
  display: inline;
  text-align: center;
  width: 100%;
  min-height: var(--space-xxxxl);
  color: white;
  font-weight: bold;
  font-size: smaller;
  border: none;

  &:hover {
    background: var(--color-primary-rotate);
    cursor: pointer;
  }
}