<% if entity.errors.any? %>
  <div id="error_explonation">
    <p><%= pluralize(entity.errors.count, "error")%></p>
    <ul>
      <% entity.errors.full_messages.each do |error|%>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>